@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (max-width: 1198px) {
  .navbar-logo {
    width: 150px !important;
    height: calc(150px * 1/3) !important;
  }
  .mobile-menu-button {
    display: block !important;
  }
  .top-slider {
    width: 100vw;
    height: calc(100vw * 2/3);
  }
  .toolbar-item {
    display: none;
  }
  .toolbar {
    display: none;
  }
  .mobile-menu-button {
    display: block !important;
  }

  .news-slider {
    height: calc(90vw * 2/3) !important;
    width: 90vw !important;
  }
  .news-text-slider {
    height: 50vh !important;
    width: 90vw !important;
  }
  .news-text-slider div {
    height: 50vh !important;
    width: 90vw !important;
  }
  .news-title {
    font-size: 1.2rem;
  }
  .news-subtitle {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 1199px) {
  .navbar-logo {
    width: 250px !important;
    height: calc(220px * 1/3) !important;
  }
  .top-slider {
    width: 100vw;
    height: calc(100vw * 2/3);
  }
  .mobile-menu-button {
    display: block !important;
  }
  .news-slider {
    height: calc(90vw * 2/3) !important;
    width: 90vw !important;
  }
  .news-text-slider {
    height: 50vh !important;
    width: 90vw !important;
  }
  .news-text-slider div {
    height: 50vh !important;
    width: 90vw !important;
  }
  .news-title {
    font-size: 2rem;
  }
  .news-subtitle {
    font-size: 2.5rem;
  }
  .news-description {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 1200px) {
  .top-slider {
    width: 100%;
    height: 100vh;
  }
  .mobile-menu-button {
    display: none !important;
  }
  .news-slider {
    height: calc(90vw * 2/3) !important;
    width: 90vw;
  }
  .news-text-slider {
    margin-inline: 20vw !important;
  }
}
.news-text-item {
  width: 100%;
  height: 50vh !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* width: 90vw !important; */
}
@font-face {
  font-family: 'sf_light';
  src: url("./fonts/SFArabic-Light.ttf");
}
@font-face {
  font-family: 'sf_bold';
  src: url("./fonts/SFArabic-Bold.ttf");
}
@font-face {
  font-family: 'sf_semi';
  src: url("./fonts/SFArabic-Semibold.ttf");
}
@font-face {
  font-family: 'sf_medium';
  src: url("./fonts/SFArabic-Medium.ttf");
}

.swiper-button-next, .swiper-button-prev {
  color: #ffffff !important;
  width: 2.8rem !important;
  height: 2.8rem !important;
  /* background-color: rgba(0,0,0,0.3); */
  background-color: rgba(218,0,1,0.75);
  border-radius: 10px;
  --swiper-navigation-size: 1.5rem;
  font-weight: 900;
}
.swiper-button-prev {
  margin-right: 1rem;
  /* position: relative !important; */
  /* z-index: 15 !important; */
  top: 85vh !important;
  left: calc(100vw - 6rem) !important;
}
.swiper-button-next {
  margin-left: 1rem;
  top: 76vh !important;
  left: calc(100vw - 7rem) !important;
}

.css-c99jwy-MuiButtonBase-root-MuiTab-root {
  font-size: 0.9rem;
  font-family: sf_semi;
}

.blured {
  backdrop-filter: opacity(20%) blur(40px) saturate(150%) !important;
  -webkit-backdrop-filter: opacity(20%) blur(40px) saturate(150%) !important;
}

.sf_light {
  font-family: 'sf_light';
}
.sf_semi {
  font-family: 'sf_semi';
}
.sf_medium {
  font-family: 'sf_medium';
}
.sf_bold {
  font-family: 'sf_bold';
}

.industries::before, .industries::after {
  content: '';
  width: 30vw;
  height: 3px;
  border-radius: 2px;
  background-color: #D52927;
  display: inline-flex;
  position: relative;
  /* left: 5px; */
  bottom: 10px;
}

.address::after {
  content: '';
  width: 18vw;
  height: 3px;
  border-radius: 2px;
  background-color: #D52927;
  display: inline-flex;
  position: relative;
  left: -5px;
  bottom: 5px;
}

.GrindingMediaBall::before {
  content: '';
  width: 60vw;
  height: 3px;
  border-radius: 2px;
  background-color: #D52927;
  display: inline-flex;
  position: relative;
  left: 17%;
  bottom: 10px;
}

.licence_gr {
  background: linear-gradient(270deg, rgba(23,44,98,1) 0%, rgba(24,57,120,1) 60%);
}

.icon-black {
  color: black !important;
  filter: invert(0%) sepia(4%) saturate(0%) hue-rotate(234deg) brightness(96%) contrast(103%) !important;
}
.icon-white {
  color: white !important;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(84deg) brightness(103%) contrast(101%) !important;
}

@layer base {
  :root {
  --AppBar-background: #ffffff;
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.vertical-swiper-container {
  position: relative;
  width: 40vw;
  height: 55vh;
  /* perspective: 1000px; Adds 3D perspective */
}

.news-slider {
  perspective: 1000px; /* Adds 3D perspective */
}

.vertical-swiper-slide {
  width: 40vw !important;
  height: 50vh !important;
  transition: transform 0.5s ease;
  transform-origin: center center;
  will-change: transform; /* Optimize rendering */
}

.carousel-item {
  cursor: pointer;
}

.vertical-carousel-item {
  background: none;
  border-radius: 30px !important;
  padding: 20px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  font-size: 1.5rem;
  transition: all 0.3s ease;
}

.swiper-wrapper {
  transition-timing-function: linear;
}

.industries-menu-container {
  display: flex;
  --_gap: 4.1rem;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  font-family: 'sf_bold';
  font-size: 1.4rem;
}

.industries-menu-item {
  padding-inline: calc(var(--_gap));
  color: #d3d3d3;
  position: relative;
  transition: all 300ms;
  border-bottom: 3px #ffffff solid;
  padding-bottom: 1rem;
  cursor: pointer;
}

.industries-menu-item:hover {
  color: #D52927;
  --_width: 0;
}

/* .industries-menu-item:hover + .industries-menu-item {
  --_translate: -100%;
  --_scale-delay: 300ms;
  --_translate-delay: 200ms;
} */

/* .industries-menu-item:has(+ :hover) {
  --_translate: 100%;
  --_scale-delay: 300ms;
  --_translate-delay: 200ms;
} */

.industries-menu-item::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: -3px;
  height: 3px !important;
  width: 100%;
  background-color: #D52927;
  translate: var(--_translate, 0);
  scale: var(--_width, 0) 1;
  transition: scale 300ms var(--_scale-delay, 0),
  translate 500ms var(--_translate-delay, 0);
}

.active {
  /* scale: 1 1 !important; */
  --_width: 1;
  color: #D52927;
}

.industries-menu-item:hover::after {
  --_width: 1;
}

.css-130f8nx {
  display: flex !important;
}

.css-1f9afu8-MuiButtonBase-root-MuiButton-root {
  font-size: 1rem !important;
}

.header {
  transform: translateY(0);
  transition: transform 300ms ease !important;
  -webkit-transition: transform 300ms ease !important;
}
/* .header.visible {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
} */

.hidden {
  transform: translateY(-100%);
}